
.column{
  width: 400px;
  max-height: calc(100% - 120px);
  overflow-y: auto;

  display: inline-block;
  margin: 0 @elementSpace;

  &:first-child{
    margin-left: 0;
  }

  &:last-child{
    margin-right: 0;
  }

  &-title{
    padding-bottom: 10px;
    border-bottom: 1px solid #a4aeb9;
  }

  &-item{
    width: 100%;
    margin: @elementSpace 0;
    background-color: #f9fafc;
    border-radius: 5px;
    padding: @elementSpace;

    &:first-child{
      margin-top: 0;
    }

    &:last-child{
      margin-bottom: 0;
    }

    &-content{
      width: 100%;
      min-height: 50px;
      position: relative;

      & p{
        white-space: break-spaces;
        display: block;
        width: 100%;
      }
    }

    &-title{
      width: 100%;
      margin-top: 30px;
      padding-top: 10px;
      border-top: 1px solid #a4aeb9;
    }
  }
}
