package views

import "fmt"

templ errorBlock(content string) {
	<div class="error-message">
		{ content }
	</div>
}

templ Like(likes, request, active string) {
	<div class="likes" hx-vals={ fmt.Sprintf(`{"likes": %s}`, likes) } hx-patch={ request } hx-swap="outerHTML">
		<i class={ fmt.Sprintf("fa fa-thumbs-up likes %s", active) }></i>
		<p>{ likes }</p>
	</div>
}
