package views

import "arcade/internal/models"

templ HomePage() {
	@head("Home")
	<body>
		<a href="/history">History</a>
        <a href="/templates">New retro</a>
	</body>
}

templ HistoryPage(retros []models.Retro) {
	@head("History")
	for _, retro := range retros {
		<a href={ templ.URL("/retro/" + retro.Id.String()) }>{ retro.Created }</a>
	}
}
