package views

import "arcade/internal/models"

templ RetroPage(records map[string][]models.Record) {
	for category := range records {
		<div>
			<form method="post">
					<p>{ category }</p>
				<input type="hidden" name="category" value={ category }/>
				<input type="text" name="content"/>
				<input type="submit" value="Post"/>
			</form>
			for _, record := range records[category] {
				<div>
					<p>{ record.Content }</p>
					<p>{ record.Author }</p>
				</div>
			}
		</div>
	}
}
